<div class='home-page'>
<h1>Daily Entry</h1>
 <div><h1>Hello, welcome to your daily entry page.</h1></div>
  

 <div class="content-container">
  <p> Tell me about your day! </p>
    <p> What did you do? What was the best part? What was the worst part? </p>
      <p> How did you feel? Use the faces to describe your mood, which one lines up best with how you feel? </p>
 </div>

 <%= form_with model: @daily_entry, url: daily_entries_path, local: true do |f| %>
     <%= render "shared/error_messages", object: @daily_entry %>
  <div class="input-field-day-content">
    <%= f.label :day_content, "Day Content" %>
    <%= f.text_area :day_content %>
  </div>

  <div class="input-field-mood">
    <%= f.label :mood, "Mood" %>
    <%= f.text_field :mood %> <%="placeholder until you do faces" %>

    <%= f.submit "Submit" %>
  </div>
<% end %>